*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet


# Eclipse IDE files
**/.classpath
**/.project
**/.settings/

# intellj IDE files
**/*.iml
**/.idea/

# Apple OS X related
**/.DS_Store

# build generated
**/target/
**/build/

# intermediately generated locally
**/logs/
**/lib/
*.jar
/target/